@font-face{
	font-family:myFirstFont;
	src:url('orange-juice.ttf') format('truetype');
}


body{
	background-image:url("http://wallpapercave.com/wp/3pMtFwH.jpg");
	font-family:myFirstFont;
	color:white;
}
h1{
	text-align:center;
	text-shadow: black 2px 2px 2px;
	margin-top:15%;
	font-size:100px;
}

div.start{
	color:white;
	font-size: 70px;
	text-align:center;
	text-shadow: black 2px 2px 2px;
}

a:link {
    color: #3399ff;
}

/* visited link */
a:visited {
    color: #3399ff;
}

/* mouse over link */
a:hover {
    color:#cc0099;
}

div.single{
	text-align:center;

}
div.multiplayer{


}